@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
body {
  overflow-x: hidden;
  font-family: "Montserrat";
}

body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 1.8125rem;
  border-radius: 1.25rem;
  border: 2px solid #2c7cb8;
}
.btn--bl {
  background-color: #2c7cb8;
  color: #fff;
}
.btn--form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 3.9375rem;
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.btn--big {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 1.25rem;
}

.bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}

.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #3d3d3d;
  text-align: center;
}
@media (max-width: 600px) {
  .title {
    font-size: 25px;
    line-height: 115.9%;
  }
}

.img {
  width: 100%;
}

.list-title {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #3d3d3d;
  margin: 20px 0 8px 0;
}

.list-feedback-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}

.input {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  padding: 0.75rem 7.8125rem 0.75rem 1.125rem;
}
@media (max-width: 500px) {
  .input {
    padding: 0.75rem 0.3125rem 0.75rem 1.125rem;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0.9375rem;
}
.header__logo {
  margin-left: -17px;
}
.menu__icon {
  display: none;
}

@media (max-width: 61.99875rem) {
  .menu__icon {
    display: block;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
    cursor: pointer;
  }
  .menu__icon.active span {
    transform: scale(0);
  }
  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .menu__icon span {
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.5s ease 0s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
}
.menu-header {
  margin-left: 36px;
  position: relative;
}
.menu-header.active {
  left: 0;
}
.menu-header.active .menu__icon span {
  background-color: #fff;
}
.menu-header.active:not(:last-child) span {
  background-color: #fff;
}
@media (max-width: 61.99875rem) {
  .menu-header.active .menu-header__list {
    align-items: center;
    gap: 1.875rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #141414;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    transition: left 0.3s ease 0s;
    z-index: 4;
    margin-left: 0;
  }
  .menu-header.active .menu-header__link {
    color: #fff;
  }
}
.menu-header__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 61.99875rem) {
  .menu-header__list {
    display: none;
  }
}
.menu-header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5714285714;
  color: #000;
}

.header__button span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2c7cb8;
}

.support__container:before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  min-height: 1645.3px;
  background: url("../1.png") 0 0/cover no-repeat;
  z-index: -2;
}
@media (max-width: 991px) {
  .support__container:before {
    top: -20px;
    left: -20%;
    max-width: 1024.47px;
    height: 988.68px;
  }
}
@media (max-width: 778px) {
  .support__container:before {
    content: "";
    position: absolute;
    left: -20%;
    top: -50px;
    width: 100%;
    height: 100%;
    max-width: 1024.47px;
    background: url("../2.png") 0 0/cover no-repeat;
    z-index: -2;
  }
}
@media (max-width: 600px) {
  .support__container:before {
    content: "";
    position: absolute;
    left: -15%;
    top: -20%;
    height: 100%;
    width: 581px;
    background: url("../3.png") 0 0/cover no-repeat;
    z-index: -2;
  }
}
@media (max-width: 450px) {
  .support__container:before {
    content: "";
    position: absolute;
    left: -40%;
    top: -20%;
  }
}
@media (max-width: 450px) {
  .support__container:before {
    content: "";
    position: absolute;
    left: -55%;
    top: -20%;
  }
}
.support__container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  min-height: 1645.3px;
  right: -5%;
  top: -50px;
  background: url("../1_1.png") 0 0/cover no-repeat;
  z-index: -2;
}
@media (max-width: 991px) {
  .support__container:after {
    top: -20px;
    max-width: 911.21px;
    right: 0%;
    height: 888.92px;
  }
}
@media (max-width: 778px) {
  .support__container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1024.47px;
    right: -5%;
    top: -50px;
    background: url("../2_1.png") 0 0/cover no-repeat;
    z-index: -2;
  }
}
@media (max-width: 600px) {
  .support__container:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 581px;
    right: -5%;
    top: -20%;
    background: url("../3_1.png") 0 0/cover no-repeat;
    z-index: -2;
  }
}
@media (max-width: 450px) {
  .support__container:after {
    content: "";
    position: absolute;
    right: -5%;
    top: -20%;
  }
}
.support__title {
  max-width: 860px;
  margin: 0 auto;
  padding-top: 5.4375rem;
  margin-bottom: 1.5rem;
}
.support__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #3d3d3d;
  max-width: 387px;
  margin: 0 auto;
}
.support__photo {
  margin-top: 3.3125rem;
}
.support__photo img {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1148px;
}

.product-slider__button {
  position: relative;
  top: 80px;
  left: 0;
}
.product-slider__button .swiper-button-next,
.product-slider__button .swiper-button-prev {
  position: absolute;
  top: 0;
  left: 0;
}
.product-slider__button .swiper-button-next {
  right: 43.9%;
  left: auto;
}
@media (max-width: 900px) {
  .product-slider__button .swiper-button-next {
    right: 30%;
  }
}
.product-slider__button .swiper-button-prev {
  left: 45.4%;
  right: auto;
}
@media (max-width: 900px) {
  .product-slider__button .swiper-button-prev {
    left: 30%;
  }
}

.buttons-wrap {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.buttons-wrap .btn {
  padding: 0.9375rem 3.9375rem;
}
.buttons-wrap:not(:last-child) {
  gap: 2.5rem;
}
.buttons-wrap__column {
  display: flex;
  position: relative;
  bottom: 0;
  left: 7px;
}
.buttons-wrap__column:first-child span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.buttons-wrap__column:last-child:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 30px;
  width: 16.02px;
  height: 19.58px;
  background: url("../img/page__1/support/load.png") 0 0 no-repeat;
}
.buttons-wrap__column:last-child span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #3d3d3d;
}
.benefits__title {
  text-align: center;
  margin: -6px 0 2.5rem 0;
}
.benefits__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #4b4b4b;
  opacity: 0.6;
  max-width: 784px;
  margin: 0 auto;
}
.cards-benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
  margin-top: 2.5rem;
}
.item-benefits-cards {
  background: #f5f5f5;
  border: 7px solid #ffffff;
  box-shadow: 14px 13px 20px rgba(156, 206, 244, 0.18);
  border-radius: 20px;
  padding: 1.875rem;
  min-height: 20.75rem;
}
.item-benefits-cards__img {
  margin-bottom: 1.875rem;
}
.item-benefits-cards__title {
  margin-bottom: 1.375rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3d3d3d;
}
.item-benefits-cards__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3d3d3d;
  opacity: 0.8;
}

.clients {
  margin: 175px 0 100px 0;
  position: relative;
  top: 0;
  left: 0;
}
.clients:after {
  content: "";
  position: absolute;
  top: 14%;
  right: 9%;
  width: 100%;
  max-width: 229px;
  height: 252px;
  background: url("../img/page__1/slider/Group 47.png") top right no-repeat;
}
@media (max-width: 1500px) {
  .clients:after {
    top: 25%;
    right: 0%;
    z-index: 5;
  }
}
@media (max-width: 745px) {
  .clients:after {
    display: none;
  }
}
.clients__container {
  overflow: hidden;
}
.clients__title {
  margin-bottom: 31px;
}
.clients__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #4b4b4b;
  opacity: 0.6;
  max-width: 1028px;
  margin: 0 auto;
}

.slider-clients {
  margin: 2.5rem 0rem 8.75rem 0rem;
}
.slider-clients__button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: calc(27px + 33 * (100vw - 320px) / 845);
  gap: 3rem;
}
.feedback {
  background: #f5f5f5;
}
@media (max-width: 991px) {
  .feedback {
    display: none;
  }
}
.feedback__container {
  overflow: hidden;
}
.feedback__title {
  padding-top: 6.9375rem;
  margin-bottom: 50px;
}
.feedback-slider__button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: calc(37px + 17 * (100vw - 320px) / 845);
  gap: 3rem;
  padding-bottom: 12.5rem;
}
.row-feedback {
  display: flex;
  gap: calc(10px + 90 * (100vw - 320px) / 845);
}
@media (max-width: 991px) {
  .row-feedback {
    padding-bottom: 0;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "i1 i1" "i2 i3" "i4 i4" "i5 i5";
  }
}
.row-feedback__title--tablet {
  display: none;
}
@media (max-width: 991px) {
  .row-feedback__title--tablet {
    display: grid;
    grid-column: 1/span 2;
  }
}
@media (max-width: 710px) {
  .row-feedback__title--tablet {
    grid-area: i1;
  }
}
@media (max-width: 600px) {
  .row-feedback {
    flex-direction: column;
  }
}
.row-feedback__column--tablet {
  display: none;
}
@media (max-width: 991px) {
  .row-feedback__column--tablet {
    display: grid;
    grid-column: 1/span 2;
    grid-template-areas: "i1" "i2" "i3";
  }
}
@media (max-width: 710px) {
  .row-feedback__column--tablet {
    grid-area: i4;
  }
}
.row-feedback__column--mobile {
  display: none;
}
@media (max-width: 710px) {
  .row-feedback__column--mobile {
    display: block;
  }
}
.row-feedback__footer--tablet {
  display: none;
}
@media (max-width: 991px) {
  .row-feedback__footer--tablet {
    display: grid;
    padding-bottom: calc(30px + 140 * (100vw - 320px) / 671);
    grid-column: 1/span 2;
  }
}
@media (max-width: 710px) {
  .row-feedback__footer--tablet {
    grid-area: i5;
  }
}
.row-feedback__column {
  flex: 0 1 50%;
}
@media (max-width: 710px) {
  .row-feedback__column {
    display: grid;
    grid-column: 1/span 2;
  }
}
@media (max-width: 710px) {
  .row-feedback__column--mobile {
    grid-column: 1/span 2;
  }
}
.subtitle-feedback {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 32px;
}
.subtitle-feedback__head {
  max-width: 315px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140.4%;
  color: #2c7cb8;
}

@media (max-width: 710px) {
  .list-feedback__title {
    grid-area: i1;
  }
}
.list-feedback__link {
  display: flex;
  align-items: center;
  gap: calc(10px + 33 * (100vw - 320px) / 845);
}
.list-feedback__link:not(:last-child) {
  margin-bottom: 4px;
}
.list-feedback__link:last-child {
  margin-bottom: 25px;
}
.feedback__none {
  display: none;
}
@media (max-width: 991px) {
  .feedback__none {
    display: block;
  }
}
.none-feedback {
  background-color: #f5f5f5;
}
.none-feedback__container {
  overflow: hidden;
  padding: 0 10px;
}
.none-feedback__title {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}
.none-feedback__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 140.4%;
  color: #2c7cb8;
  max-width: 310px;
}
.none-feedback__row {
  display: flex;
  gap: 1.875rem;
}
.none-feedback__column:first-child {
  flex: 0 1 50%;
}
@media (max-width: 710px) {
  .none-feedback__column:first-child {
    flex: 1 1 100%;
  }
}
@media (max-width: 710px) {
  .none-feedback__column:last-child {
    display: none;
  }
}
.none-feedback__column--mobile {
  display: none;
}
@media (max-width: 710px) {
  .none-feedback__column--mobile {
    display: block;
  }
}
.none-feedback__footer {
  margin-top: 1.5625rem;
}
@media (max-width: 710px) {
  .none-feedback__footer {
    margin-bottom: 1.875rem;
  }
}

.list-feedback-none__item {
  margin-top: 1.5rem;
}

.item-none-feedback {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.input__file-icon {
  display: flex;
  gap: 30px;
  margin-right: 11px;
}

.wrapper-form {
  background: #2c7cb8;
  border-radius: 20px;
  padding: 2.25rem 3.75rem 2.75rem 3.75rem;
  margin: calc(80px + 40 * (100vw - 320px) / 845) 0;
}
@media (max-width: 500px) {
  .wrapper-form {
    padding: 1.125rem 1.875rem 1.375rem 1.875rem;
  }
}
.wrapper-form__title {
  display: flex;
  gap: 1.4375rem;
  margin-bottom: 2.0625rem;
}
@media (max-width: 745px) {
  .wrapper-form__title {
    flex-direction: column;
  }
}
.wrapper-form__row {
  flex: 0 1 50%;
}
.wrapper-form__row:first-child {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .wrapper-form__row:first-child {
    font-size: 36px;
    line-height: 39px;
  }
}
.wrapper-form__row:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 137.9%;
  color: #f5f5f5;
}
.body-form {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 2.3125rem;
}
@media (max-width: 745px) {
  .body-form {
    flex-direction: column;
  }
}
@media (max-width: 745px) {
  .body-form__column {
    width: 100%;
  }
}

.send-form {
  display: flex;
  margin-top: 2rem;
  gap: 1.875rem;
}
@media (max-width: 745px) {
  .send-form {
    flex-direction: column;
  }
}
.send-form__column:first-child {
  flex: 0 1 70%;
}
.send-form__column:last-child {
  flex: 0 1 30%;
}

.submit-form {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  margin-top: 3.5625rem;
}
@media (max-width: 500px) {
  .submit-form {
    flex-direction: column;
  }
}
.submit-form__agree {
  max-width: 430px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #f5f5f5;
}

.footer {
  background: #3d3d3d;
}
.footer__column--tablet {
  display: none;
}
@media (max-width: 991px) {
  .footer__column--tablet {
    display: grid;
    grid-column: 1/span 2;
    margin-right: auto;
  }
  .footer__column--tablet .column-footer__list {
    grid-area: i1;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px 30px;
    gap: calc(10px + 20 * (100vw - 320px) / 845);
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .footer__column--tablet .column-footer__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__container {
  display: grid;
  grid-template-areas: "i1 i2" "i3 i3";
  padding: 2.75rem 1.875rem 2.5rem 1.875rem;
}
@media (max-width: 991px) {
  .footer__container {
    display: grid;
    gap: 0px 0px;
    grid-template-areas: "i1 i1" "i2 i3" "i4 i4";
  }
}
@media (max-width: 600px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    padding: calc(15px + 29 * (100vw - 320px) / 280) calc(10px + 15 * (100vw - 320px) / 280) calc(15px + 25 * (100vw - 320px) / 280) calc(15px + 15 * (100vw - 320px) / 280);
  }
}
.footer__column--phone {
  grid-column: 1/span 2;
}

.column-footer {
  flex: 0 1 50%;
  margin-top: 2.75rem;
  margin: 2.75rem 0 1.9375rem 0;
}
.column-footer--left {
  grid-area: i1;
}
@media (max-width: 991px) {
  .column-footer--left {
    grid-area: i2;
  }
}
@media (max-width: 600px) {
  .column-footer--left {
    display: none;
  }
}
.column-footer--right {
  grid-area: i2;
  margin-left: auto;
}
@media (max-width: 991px) {
  .column-footer--right {
    grid-area: i3;
    margin-bottom: 1.375rem;
  }
}
@media (max-width: 600px) {
  .column-footer--right {
    display: grid;
    grid-column: 1/span 2;
    grid-template-areas: "i1 i2";
    -moz-column-gap: calc(15px + 15 * (100vw - 320px) / 280);
         column-gap: calc(15px + 15 * (100vw - 320px) / 280);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-area: 3/1/4/2;
    margin-bottom: 2.5rem;
    margin-left: 0;
  }
}
.column-footer__foot {
  grid-area: i3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
@media (max-width: 991px) {
  .column-footer__foot {
    grid-area: i4;
  }
}
@media (max-width: 600px) {
  .column-footer__foot {
    grid-area: 4/1/5/2;
    flex-direction: column;
    margin-bottom: 0;
  }
}
.column-footer__list {
  display: flex;
  align-items: center;
}
.column-footer__list:not(:last-child) {
  gap: 1.6875rem;
}
.column-footer__item {
  margin-bottom: 1.5625rem;
  white-space: nowrap;
}
.column-footer__link {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .column-footer__link {
    font-size: 16px;
    line-height: 1.25;
  }
}
.column-footer__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 400px;
  margin-bottom: 3.4375rem;
}
@media (max-width: 991px) {
  .column-footer__body {
    grid-area: i2;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 600px) {
  .column-footer__body {
    display: grid;
  }
  .column-footer__body p {
    grid-area: 2/1/3/2;
  }
}
.column-footer__footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .column-footer__footer {
    margin-bottom: 0.5rem;
  }
}
.column-footer__call {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .column-footer__call {
    justify-self: end;
    flex: 0 1 70%;
  }
}

.call-footer__phone {
  color: #d9d9d9;
  font-size: 18px;
  line-height: 22px;
}
.call-footer__phone--big {
  font-size: 32px;
  line-height: 39px;
}
@media (max-width: 991px) {
  .call-footer__phone--big {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (max-width: 600px) {
  .call-footer__phone--big {
    font-size: 1.25rem;
    line-height: 24px;
  }
}
.call-footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.125rem;
}
.call-footer__social li {
  margin-top: 1.125rem;
}
@media (max-width: 600px) {
  .call-footer__social li {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .call-footer__social {
    grid-area: i1;
    justify-content: start;
    flex: 0 1 30%;
  }
}
.call-footer__rules {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}