@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
body {
  overflow-x: hidden;
  font-family: "Montserrat";
}

body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 2.8125rem;
  border-radius: 20px;
  border: 2px solid #2c7cb8;
}
.btn--bl {
  background-color: #2c7cb8;
  color: #fff;
  padding: 15px 53px;
}
.btn--bl span {
  font-weight: 500;
  font-size: calc(14px + 4 * (100vw - 320px) / 845);
  line-height: 22px;
  text-align: center;
}
.btn--form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 3.9375rem;
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.btn--big {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 1.25rem;
}

.bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}

.title {
  font-weight: 600;
  font-size: 55px;
  line-height: 115.9%;
  text-align: center;
  color: #3d3d3d;
}
@media (max-width: 991px) {
  .title {
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
  }
}
@media (max-width: 520px) {
  .title {
    font-size: 25px;
    line-height: 115.9%;
  }
}
.title--small {
  font-size: 45px;
}

.img {
  width: 100%;
}

.input {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  padding: 0.75rem 7.8125rem 0.75rem 1.125rem;
}
@media (max-width: 500px) {
  .input {
    padding: 0.75rem 0.3125rem 0.75rem 1.125rem;
  }
}

.price__title {
  font-weight: 600;
  font-size: calc(35px + 20 * (100vw - 320px) / 845);
  line-height: calc(41px + 23 * (100vw - 320px) / 845);
  text-align: center;
  color: #3d3d3d;
}

.price__intgr {
  font-weight: 600;
  font-size: calc(25px + 15 * (100vw - 320px) / 845);
  line-height: 49px;
  color: #3d3d3d;
}

.price__list {
  font-weight: 400;
  font-size: calc(14px + 6 * (100vw - 320px) / 845);
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}

.price__date {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3d3d3d;
}

.price__cout {
  font-weight: 600;
  font-size: calc(28px + 17 * (100vw - 320px) / 845);
  line-height: 115.9%;
  color: #3d3d3d;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0.9375rem;
}
.header__logo {
  margin-left: -17px;
}
.menu__icon {
  display: none;
}

@media (max-width: 61.99875rem) {
  .menu__icon {
    display: block;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
    cursor: pointer;
  }
  .menu__icon.active span {
    transform: scale(0);
  }
  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .menu__icon span {
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.5s ease 0s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
}
.menu-header {
  margin-left: 66px;
  position: relative;
}
.menu-header.active {
  left: 0;
}
.menu-header.active .menu__icon span {
  background-color: #fff;
}
.menu-header.active:not(:last-child) span {
  background-color: #fff;
}
@media (max-width: 61.99875rem) {
  .menu-header.active .menu-header__list {
    align-items: center;
    gap: 1.875rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #141414;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    transition: left 0.3s ease 0s;
    z-index: 4;
    margin-left: 0;
  }
  .menu-header.active .menu-header__link {
    color: #fff;
  }
}
.menu-header__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 61.99875rem) {
  .menu-header__list {
    display: none;
  }
}
.menu-header__item:nth-child(3) a {
  color: #2c7cb8;
}
.menu-header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5714285714;
  color: #000;
}

.header__button span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2c7cb8;
}

.price {
  margin-bottom: calc(30px + 50 * (100vw - 320px) / 845);
}
.price__title {
  padding-top: calc(56px + 16 * (100vw - 320px) / 845);
  margin-bottom: calc(30px + 30 * (100vw - 320px) / 845);
}
.row-price {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 4.0625rem;
}
@media (max-width: 850px) {
  .row-price {
    flex-direction: column;
  }
}
.column-price:first-child {
  flex: 0 1 50%;
  background: #9ccef3;
  opacity: 0.5;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.column-price:last-child {
  flex: 0 1 50%;
  background: #ffa9aa;
  opacity: 0.5;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
}
.column-price__title {
  padding: calc(20px + 13 * (100vw - 320px) / 845) 0.625rem calc(17px + 13 * (100vw - 320px) / 845) calc(52px + 33 * (100vw - 320px) / 845);
  position: relative;
  top: 0;
  left: 0;
}
.column-price__title:after {
  display: block;
  width: 100%;
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  bottom: 0;
  right: 0;
}
.column-price__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: calc(40px + 49 * (100vw - 320px) / 845);
  flex: 1 1 auto;
}
.column-price__list--left {
  padding: calc(25px + 38 * (100vw - 320px) / 845) calc(41px + 29 * (100vw - 320px) / 845) 0 calc(21px + 14 * (100vw - 320px) / 845);
}
.column-price__list--right {
  flex-direction: column;
  padding: calc(26px + 17 * (100vw - 320px) / 845) calc(36px + 24 * (100vw - 320px) / 845) 0 calc(28px + 20 * (100vw - 320px) / 845);
}
@media (max-width: 850px) {
  .column-price__list--right {
    display: grid;
  }
}
.column-price__date {
  padding: 0 0 calc(27px + 23 * (100vw - 320px) / 845) calc(35px + 50 * (100vw - 320px) / 845);
  margin-bottom: calc(17px + 16 * (100vw - 320px) / 845);
}
.column-price__count {
  margin-bottom: calc(12px + 21 * (100vw - 320px) / 845);
}
.column-price__link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.config__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 1082px;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: calc(50px + 30 * (100vw - 320px) / 845);
}
.config__text:after {
  content: "";
  position: absolute;
  top: 13px;
  right: calc(-10% + -10 * (100vw - 320px) / 845);
  background: url("../img/page_4/price/arrow__big.png") 0 0 no-repeat;
  width: 128.82px;
  height: 180.54px;
}
@media (max-width: 1200px) {
  .config__text:after {
    right: 0;
    top: 75px;
  }
}
@media (max-width: 991px) {
  .config__text:after {
    right: 1%;
    top: 111px;
    background: url("../img/page_4/price/arrow__note.png") 0 0 no-repeat;
    width: 74.78px;
    height: 148.7px;
  }
}
@media (max-width: 744px) {
  .config__text:after {
    right: 1%;
    bottom: -11.1%;
  }
}
@media (max-width: 588px) {
  .config__text:after {
    right: 0%;
    bottom: -19.1%;
  }
}
@media (max-width: 531px) {
  .config__text:after {
    right: 0%;
    top: 153px;
    background: url("../img/page_4/price/arrow__phone.png") 0 0 no-repeat;
    width: 117.24px;
  }
}
@media (max-width: 440px) {
  .config__text:after {
    right: 0%;
    top: 80%;
  }
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.input__file-icon {
  display: flex;
  gap: 30px;
  margin-right: 11px;
}

.wrapper-form {
  background: #2c7cb8;
  border-radius: 20px;
  padding: 2.25rem 3.75rem 2.75rem 3.75rem;
  margin: calc(80px + 40 * (100vw - 320px) / 845) 0;
}
@media (max-width: 500px) {
  .wrapper-form {
    padding: 1.125rem 1.875rem 1.375rem 1.875rem;
  }
}
.wrapper-form__title {
  display: flex;
  gap: 1.4375rem;
  margin-bottom: 2.0625rem;
}
@media (max-width: 745px) {
  .wrapper-form__title {
    flex-direction: column;
  }
}
.wrapper-form__row {
  flex: 0 1 50%;
}
.wrapper-form__row:first-child {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .wrapper-form__row:first-child {
    font-size: 36px;
    line-height: 39px;
  }
}
.wrapper-form__row:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 137.9%;
  color: #f5f5f5;
}
.body-form {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 2.3125rem;
}
@media (max-width: 745px) {
  .body-form {
    flex-direction: column;
  }
}
@media (max-width: 745px) {
  .body-form__column {
    width: 100%;
  }
}

.send-form {
  display: flex;
  margin-top: 2rem;
  gap: 1.875rem;
}
@media (max-width: 745px) {
  .send-form {
    flex-direction: column;
  }
}
.send-form__column:first-child {
  flex: 0 1 70%;
}
.send-form__column:last-child {
  flex: 0 1 30%;
}

.submit-form {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  margin-top: 3.5625rem;
}
@media (max-width: 500px) {
  .submit-form {
    flex-direction: column;
  }
}
.submit-form__agree {
  max-width: 430px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #f5f5f5;
}

.footer {
  background: #3d3d3d;
}
.footer__column--tablet {
  display: none;
}
@media (max-width: 991px) {
  .footer__column--tablet {
    display: grid;
    grid-column: 1/span 2;
    margin-right: auto;
  }
  .footer__column--tablet .column-footer__list {
    grid-area: i1;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px 30px;
    gap: calc(10px + 20 * (100vw - 320px) / 845);
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .footer__column--tablet .column-footer__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__container {
  display: grid;
  grid-template-areas: "i1 i2" "i3 i3";
  padding: 2.75rem 1.875rem 2.5rem 1.875rem;
}
@media (max-width: 991px) {
  .footer__container {
    display: grid;
    gap: 0px 0px;
    grid-template-areas: "i1 i1" "i2 i3" "i4 i4";
  }
}
@media (max-width: 600px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    padding: calc(15px + 29 * (100vw - 320px) / 280) calc(10px + 15 * (100vw - 320px) / 280) calc(15px + 25 * (100vw - 320px) / 280) calc(15px + 15 * (100vw - 320px) / 280);
  }
}
.footer__column--phone {
  grid-column: 1/span 2;
}

.column-footer {
  flex: 0 1 50%;
  margin-top: 2.75rem;
  margin: 2.75rem 0 1.9375rem 0;
}
.column-footer--left {
  grid-area: i1;
}
@media (max-width: 991px) {
  .column-footer--left {
    grid-area: i2;
  }
}
@media (max-width: 600px) {
  .column-footer--left {
    display: none;
  }
}
.column-footer--right {
  grid-area: i2;
  margin-left: auto;
}
@media (max-width: 991px) {
  .column-footer--right {
    grid-area: i3;
    margin-bottom: 1.375rem;
  }
}
@media (max-width: 600px) {
  .column-footer--right {
    display: grid;
    grid-column: 1/span 2;
    grid-template-areas: "i1 i2";
    -moz-column-gap: calc(15px + 15 * (100vw - 320px) / 280);
         column-gap: calc(15px + 15 * (100vw - 320px) / 280);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-area: 3/1/4/2;
    margin-bottom: 2.5rem;
    margin-left: 0;
  }
}
.column-footer__foot {
  grid-area: i3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
@media (max-width: 991px) {
  .column-footer__foot {
    grid-area: i4;
  }
}
@media (max-width: 600px) {
  .column-footer__foot {
    grid-area: 4/1/5/2;
    flex-direction: column;
    margin-bottom: 0;
  }
}
.column-footer__list {
  display: flex;
  align-items: center;
}
.column-footer__list:not(:last-child) {
  gap: 1.6875rem;
}
.column-footer__item {
  margin-bottom: 1.5625rem;
  white-space: nowrap;
}
.column-footer__link {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .column-footer__link {
    font-size: 16px;
    line-height: 1.25;
  }
}
.column-footer__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 400px;
  margin-bottom: 3.4375rem;
}
@media (max-width: 991px) {
  .column-footer__body {
    grid-area: i2;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 600px) {
  .column-footer__body {
    display: grid;
  }
  .column-footer__body p {
    grid-area: 2/1/3/2;
  }
}
.column-footer__footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .column-footer__footer {
    margin-bottom: 0.5rem;
  }
}
.column-footer__call {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .column-footer__call {
    justify-self: end;
    flex: 0 1 70%;
  }
}

.call-footer__phone {
  color: #d9d9d9;
  font-size: 18px;
  line-height: 22px;
}
.call-footer__phone--big {
  font-size: 32px;
  line-height: 39px;
}
@media (max-width: 991px) {
  .call-footer__phone--big {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (max-width: 600px) {
  .call-footer__phone--big {
    font-size: 1.25rem;
    line-height: 24px;
  }
}
.call-footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.125rem;
}
.call-footer__social li {
  margin-top: 1.125rem;
}
@media (max-width: 600px) {
  .call-footer__social li {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .call-footer__social {
    grid-area: i1;
    justify-content: start;
    flex: 0 1 30%;
  }
}
.call-footer__rules {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}